.card{
  width: 18rem;
  margin:3%

}
  .myspace{
    margin-top: 13%;
margin-left: 38%;
  }
.space{
  margin-top: 13%;
  margin-left: 10%;
  margin-right: 5%;
  
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
}
.card-img-top{
  height: 200px;

}